div.SignIn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
    height: min-content;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);

    svg {
      width: 10%;
    }
    div {
      margin-left: 5px;
      width: 60%;
      text-align: center;

      p {
        color: gray;
      }
    }
    input {
      padding: 5px 10px;
      margin: 10px 0;
      height: 35px;
      width: 80%;
      border: 1px solid lightgray;
      border-radius: 5px;
      outline: none;
    }
    button {
      margin: 10px 0;
      height: 35px;
      width: 80%;
      cursor: pointer;
    }
  }
}
