header.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: max-content;
  width: 100%;
  background-color: var(--base-bgcolor);

  div {
    display: flex;
    align-items: center;
  }
}
